/*.column {
  vertical-align: bottom;
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #aef;
  width: 500px;
  height: 350px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  position: relative;
}
*/
